

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

In [3]:
x = 10
print(x)
type(x)

10

int

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

---

In [4]:
is_valid = True
print(is_valid)
type(is_valid)

True

bool

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

In [7]:
name = "Python Programming"
print(name)
type(name)

Python Programming

str

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

In [53]:
sum_result = 5 + 3
print(sum_result)

8

---

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

In [11]:
a, b, c = 5, 10, 15
print(a,b,c)

5 10 15

---

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

In [55]:
x = 2
y = x
print(y)

2

---

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

In [13]:
gravity = 9.8
type(gravity)

float

---

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

In [ ]:
country = "Rwanda"

---

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

In [14]:
age = 25
age = 26
print(age)

26

---

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

In [15]:
k = 20 - 7
print(k)

13

---

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

In [ ]:
x = 4
y = 6.4

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

In [17]:
is_completed = False
print(is_completed)

False

---

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

In [19]:
x= 2
y= 6

x, y = y, x
x,y

(6, 2)

---

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

In [20]:
complex_num = 3 + 4j
type(complex_num)

complex

---

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

In [22]:
a = 23
a = str(a)
type(a)

str

---

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

In [23]:
first_name = "Benitha"
last_name = "Mukatwizeyimana"
print(first_name, last_name)

Benitha Mukatwizeyimana

---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

In [ ]:
temperature = 35.5

---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

In [ ]:
product = 8 * 6

---

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

In [24]:
sentence = ("Hello, World!")
print(sentence)

Hello, World!

---

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

In [1]:
in_value = int(50)
print(in_value)
type(in_value)

50

int

In [ ]:
---

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

In [2]:
quotient = 144 / 12
print(quotient)

12.0

In [ ]:
---

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

In [5]:
remainder = 47 % 5
print(remainder)

2

In [ ]:
---

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

In [7]:
is_student = True
print(is_student)

True

In [ ]:
---

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

In [8]:
modu_result =  45 % 4
print(modu_result)

1

In [ ]:
---

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

In [9]:
pi = 3.14159
print(pi)
type(pi)

3.14159

float

In [ ]:
---

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

In [12]:
length = 34
width = 12
area = length * width
print("Area of a rectangle:", area)

Area of a rectangle: 408

In [ ]:


---

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

In [14]:
negative_value = -6
print(negative_value)
print(type(negative_value))

-6
<class 'int'>

In [ ]:
---

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

In [16]:
greeting = ("Hello, World!")
print(greeting)

Hello, World!

In [ ]:
---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

In [17]:
population = 3000000000
print(population)
type(population)

3000000000

int

In [ ]:
---

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

In [18]:
power_result = 2 ** 8
print(power_result)

256

In [ ]:
---

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

In [ ]:
---

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

In [ ]:
---

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

In [ ]:
---

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

In [19]:
a = 3.52
b = 2.32
sum = a + b
print(sum)

5.84

In [ ]:
---

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

In [20]:
k = 5
h = 10
is_sunny = h > k
print(is_sunny)

True

In [ ]:
---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

In [22]:
m = 2
n ="Mango"
print(m, n)

2 Mango

In [ ]:
---

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

In [23]:
value = 10
value = True
print(value)

True

In [ ]:
---

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

In [24]:
is_weekend = False
print(is_weekend)

False

In [ ]:
---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

In [25]:
description = """ Today is a good day.
The sun is shining.
I am learning Python."""
print(description)

 Today is good.
The sun is shining.
I am learning Python.

In [ ]:
---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

In [29]:
x = abs(-25)
print(x)

25

In [ ]:
---

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

In [30]:
floor_div_result = 100 // 6
print(floor_div_result)

16

In [ ]:
---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

In [32]:

mixed_sum = 1.23 + 5
print(mixed_sum)

6.23

---


### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

In [38]:
a = 10
b = 15
is_small = a < b
print(is_small)

True

---

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

In [42]:
sentence = "Python is the powerfull programming language. "
count = len(sentence)
print("sentence:", sentence)
print("Number of character:", count)

sentence: Python is the powerfull programming language.
Number of character: 46

---

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

In [43]:
division_result = 7 / 3
print(division_result)

2.3333333333333335

In [ ]:
---

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

In [47]:
speed = 100 

print(speed, "km/h")

100 km/h

---

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

In [49]:
x = 4
y = 3*x + 5
print(y)

17

---

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

****

In [52]:
x = 20
y = 50
z = 45
average = (x + y + z) / 3
print(average)

38.333333333333336